[global]
fsid = {{ ceph_cluster_id.stdout }}
auth_service_required = cephx
auth_client_required = cephx
auth_cluster_required = cephx
mon_host = {% for mon_host in groups.MON -%}
               {{ hostvars[mon_host].vm_network_ip | mandatory }}{%- if not loop.last -%},{%- endif -%}
           {%- endfor %}

{% for item in network_interfaces -%}
    {% if item.name == 'ceph_network' -%}
        cluster_network = {{ item.network }}/{{ item.prefix }}
    {% elif item.name == 'vm_network' -%}
        public_network = {{ item.network }}/{{ item.prefix }}
    {%- endif %}
{%- endfor %}

mon_initial_members = {{ groups.MON | join(',') }}

[osd]
objecter_infilght_op_bytes = 1048576000
ms_dispatch_throttle_bytes = 1048576000
filestore_min_sync_interval = 30
osd_disk_threads = 8
osd_max_write_size = 1024
objecter_inflight_ops = 8192
filestore_op_threads = 2
osd_mount_options_xfs = "rw,noatime,nodiratime,inode64,logbufs=8,logbsize=256k,delaylog"
filestore_flusher = false
journal_queue_max_ops = 5000
osd_journal_size = 10240
filestore_queue_committing_max_ops = 5000
journal_max_write_bytes = 1048576000
journal_max_write_entries = 1000
filestore_queue_max_ops = 5000
journal_dio = true
filestore_xattr_use_omap = false
osd_max_backfills = 1
osd_recovery_threads = 1
osd_mkfs_type = xfs
filestore_queue_committing_max_bytes = 1048576000
filestore_queue_max_bytes = 1048576000
osd_op_threads = 12
filestore_max_sync_interval = 100
journal_aio = true
osd_mkfs_options_xfs = "-f -i size=2048"
ms_nocrc = true
journal_queue_max_bytes = 1048576000

