[global]
fsid = {{ ceph_cluster_id.stdout }}
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx
mon_host = {% for mon_host in groups.MON -%}
               {{ hostvars[mon_host].vm_network_ip | mandatory }}{%- if not loop.last -%},{%- endif -%}
           {%- endfor %}

{% for item in network_interfaces -%}
    {% if item.name == 'ceph_network' -%}
        cluster_network = {{ item.network }}/{{ item.prefix }}
    {% elif item.name == 'vm_network' -%}
        public_network = {{ item.network }}/{{ item.prefix }}
    {%- endif %}
{%- endfor %}

mon_initial_members = {{ groups.MON | join(',') }}

filestore_xattr_use_omap = true
debug_lockdep = 0/0
debug_context = 0/0
debug_crush = 0/0
debug_buffer = 0/0
debug_timer = 0/0
debug_filer = 0/0
debug_objecter = 0/0
debug_rados = 0/0
debug_rbd = 0/0
debug_journaler = 0/0
debug_objectcatcher = 0/0
debug_client = 0/0
debug_osd = 0/0
debug_optracker = 0/0
debug_objclass = 0/0
debug_filestore = 0/0
debug_journal = 0/0
debug_ms = 0/0
debug_monc = 0/0
debug_tp = 0/0
debug_auth = 0/0
debug_finisher = 0/0
debug_heartbeatmap = 0/0
debug_perfcounter = 0/0
debug_asok = 0/0
debug_throttle = 0/0
debug_mon = 0/0
debug_paxos = 0/0
debug_rgw = 0/0

[mon]
mon_pg_warn_max_per_osd=5000
mon_max_pool_pg_num=106496

[osd]
osd mkfs type = xfs
osd mount options xfs = rw,noatime,,nodiratime,inode64,logbsize=256k,delaylog
osd mkfs options xfs = -f -i size=2048
filestore_queue_max_ops=5000
filestore_queue_max_bytes = 1048576000
filestore_max_sync_interval = 10
filestore_merge_threshold = 500
filestore_split_multiple = 100
osd_op_shard_threads = 8
journal_max_write_entries = 5000
journal_max_write_bytes = 1048576000
journal_queueu_max_ops = 3000
journal_queue_max_bytes = 1048576000
ms_dispatch_throttle_bytes = 1048576000
objecter_inflight_op_bytes = 1048576000
osd_op_num_threads_per_shard = 4
osd_op_num_shards = 16

[client]
rbd_cache = true
rbd_ssd_cache = true
rbd_ssd_rcache = false
rbd_cache_writethrough_until_flush = false
rbd_ssd_cache_size = 0
rbd_ssd_cache_chunk_order = 13
rbd_ssd_cache_path = /rbd_cache/
admin socket = /var/run/$cluster/$cluster-$type.$id.$pid.$cctid.asok
log file = /var/log/$cluster/$cluster-$type.$id.$pid.$cctid.log
