#!/bin/bash
parted --script "/dev/{{ disk.device | escape }}" \
    mklabel gpt \
    unit s \
    {% for part in disk.partitions %}
    mkpart {{ part.name }} {{ part.percent[0] }} {{ part.percent[1] }} \
    {% endfor %}
    p \
    q

sleep 3

{% for part in disk.partitions %}
chown -R ceph:ceph /dev/{{ disk.device }}{{ loop.index }}
{% endfor %}

# vim: ft=sh:shiftwidth=4:tabstop=4:expandtab:softtabstop=4
