osd_mkfs_type = xfs
osd_mount_options_xfs = rw,noatime,inode64,logbsize=256k,delaylog
osd_client_message_size_cap = 0
filestore_throttle_high_multiple = 50
journal_throttle_high_multiple = 50
journal_throttle_max_multiple = 400
filestore_throttle_max_multiple = 400
filestore_apply_finisher_threads = 3
osd_op_num_shards = 30
filestore_max_sync_interval = 3
journal_max_write_entries = 1000
osd_mkfs_options_xfs = -f -i size=2048
filestore_throttle_high_threshhold = 0.8
filestore_queue_low_threshhold = 0.32
filestore_queue_high_threshhold = 0.8
osd_enable_op_tracker = False
filestore_fd_cache_size = 10240
osd_client_message_cap = 0
journal_max_write_bytes = 1048576000
filestore_queue_max_ops = 700000
filestore_throttle_low_threshhold = 0.32
filestore_omap_header_cache_size = 409600
journal_throttle_high_threshhold = 0.8
filestore_ondisk_finisher_threads = 2
filestore_wbthrottle_enable = true
filestore_fd_cache_shards = 128
filestore_queue_committing_max_bytes = 1048576000
osd_op_num_threads_per_shard = 2
filestore_queue_max_bytes = 20485760000
filestore_op_threads = 4
journal_throttle_low_threshhold = 0.32
osd_pg_object_context_cache_count = 10240
filestore_queue_committing_max_ops = 5000
filestore_expected_throughput_ops = 60000
filestore_expected_throughput_bytes = 600000000
osd_min_pg_log_entries = 200
osd_max_pg_log_entries = 1000
filestore_omap_backend = rocksdb
rocksdb_bloom_size = 20
rocksdb_block_checksum = 2
enable_experimental_unrecoverable_data_corrupting_features = rocksdb
filestore_rocksdb_options = max_write_buffer_number=6,min_write_buffer_number_to_merge=3,max_background_compactions=4,max_background_flushes=6,max_bytes_for_level_base=3221225472,write_buffer_size=134217728,level0_file_num_compaction_trigger=8,level0_slowdown_writes_trigger=12,level0_stop_writes_trigger=20,table_cache_numshardbits=10,compaction_threads=4,flusher_threads=8,max_subcompactions=4,bloom_locality=10,target_file_size_base=134217728
